<table class="scheme">
  <tr>
    <td rowspan="2" class="leftloop">&nbsp;</td>

    <ng-container *ngFor="let trigger of triggers">
      <td class="trigger">&nbsp;</td>
      <td [attr.class]="trigger ? 'branch' : 'wire'">&nbsp;</td>
    </ng-container>
    <td class="output">&nbsp;</td>
  </tr>
  <tr>
    <td [attr.colspan]="triggers.length * 2 + 1">
      <span class="xor_left">&nbsp;</span>
      <span class="xor_right">&nbsp;</span>
      <span class="xor_body">&Sigma;
        <!--<sub>2</sub>-->
      </span>
    </td>
  </tr>
</table>