$scale: 0.6;
$cellsize: 30px * $scale;

.scheme{
    border-spacing: 0px;
}
.scheme{
    margin-left: auto;
    margin-right: auto;
}
.scheme td {
    padding: 0px;
}

.leftloop {
    background-image: url("/assets/generator-scheme/leftloop.png");
    background-size: cover;
    width: $cellsize;
    height: 10 * $cellsize;
}

.trigger, .wire, .branch, .output {
    height: 6 * $cellsize;
}

.wire, .branch, .output {
    width: $cellsize;
}

.trigger {
    background-image: url("/assets/generator-scheme/trigger.png");
    background-size: cover;
    width: 5 * $cellsize;
}
.wire {
    background-image: url("/assets/generator-scheme/wire.png");
    background-size: cover;
}
.branch {
    background-image: url("/assets/generator-scheme/branch.png");
    background-size: cover;
}

.output {
    background-image: url("/assets/generator-scheme/output.png");
    background-size: cover;
}


.xor_left, .xor_body, .xor_right {
    height: 4 * $cellsize;
}

.xor_left {
    width: 2 * $cellsize;
    float: left;
    background-image: url("/assets/generator-scheme/xor_left.png");
    background-size: cover;
}
.xor_body {
    display: flex;
    background-image: url("/assets/generator-scheme/xor_body.png");
    background-size: contain;
    justify-content: center;
    align-items: center;
    font-size: $cellsize;
}
.xor_right {
    width: $cellsize;
    float: right;
    background-image: url("/assets/generator-scheme/xor_right.png");
    background-size: cover;
}
