<button class="w3-button w3-block w3-left-align w3-green">Poly</button>
<div class="w3-center">
  <app-poly-select #polySelected (polyChange)="polyChanged($event)"></app-poly-select>
</div>

<button class="w3-button w3-block w3-left-align w3-green">LFSR Schematics diagram</button>
<div class="w3-center w3-padding-16">
  <app-generator-scheme #scheme></app-generator-scheme>
</div>

<button class="w3-button w3-block w3-left-align w3-green">M-Sequence</button>
<div class="w3-center w3-padding-16">
  <app-chart #chartSequence title="M sequence in bipolar mode"></app-chart>
</div>

<button class="w3-button w3-block w3-left-align w3-green">Auto-correlation function</button>
<div class="w3-center">
  <app-chart #chartAutoCorrelation1 title="Auto-correlation on 1 period"></app-chart>
  <app-chart #chartAutoCorrelation3 title="Auto-correlation on 3 periods"></app-chart>
</div>
<button class="w3-button w3-block w3-left-align w3-green">Links</button>
<div>
  <ul class="w3-ul w3-border">
    <li>
      <a href="https://en.wikipedia.org/wiki/Maximum_length_sequence">https://en.wikipedia.org/wiki/Maximum_length_sequence</a>
      Maximum length sequence
    </li>
    <li>
      <a href="https://en.wikipedia.org/wiki/Linear-feedback_shift_register">https://en.wikipedia.org/wiki/Linear-feedback_shift_register</a>
      LFSR
    </li>
  </ul>
</div>