.select_block {
    display: inline-block;
    width: 150px;
    margin-right: 2px;
    margin-top: 15px;
    text-align: left;
}

.select_block select {
    min-width: 130px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(65, 161, 65);
    height: 30px;
    font-size: 17px;
}

.select_block option {
    color: darkgreen;
    background-color: whitesmoke;
}

.text_format {
    color: darkgreen;
    font-weight: 600;
    font-size: 12px;
}

.binary_block {
    align-items: center;
    display: flex;
    margin: 0 auto;
    width: 304px;
    height: 60px;
}

.binary_block span {
    text-align: left;
    width: 90px;
}

.binary_poly_text {
    border-style: ridge;
    border-width: 3px;
    border-color: darkseagreen;
    text-align: center;
    width: 140px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    letter-spacing: 5px;
    margin-left: 3px;
}