<div class="select_block">
  <div class="text_format">Length (bit):</div>
  <div>
    <select (change)="lengthSelected(lenSel.value)" #lenSel>
      <option *ngFor="let len of availLengths" ng-value="len">{{len}}</option>
    </select>
  </div>

  <div class="options_class" ng-value="len"> </div>
</div>

<div class="select_block">
  <div class="text_format">Poly (hex):</div>
  <div>
    <select (change)="polySelected(polySel.value)" #polySel>
      <option *ngFor="let val of availValues" ng-value="val">{{val}}</option>
    </select>
  </div>
</div>

<div class="binary_block">
  <span class="text_format">
    Poly (bin):
  </span>
  <div class="binary_poly_text">{{ binary }}</div>
</div>